*{
    box-sizing: border-box;
    font-size: 16px;
}
    

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 1440px;
    max-width: 1440px;
}

.form{
    display: flex;
    justify-content: left;
    border: 1px solid red;
    padding: 20px 20px;
    background-color: #aeaeae;
}

.input-form{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 10px;
}

.list-work{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: rgb(179, 214, 255);
}

.btn-add{
    margin-top: 10px;
    padding: 10px 28px;
    border: 1px solid slateblue;
    border-radius: 5px;
}

.my-table th, .my-table td, .my-table thead th, .my-table tbody td, .my-table tfoot td, .my-table tfoot th {
    width: auto;
}